<app-header></app-header>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light animate__animated animate__fadeInDown" _msthash="1198730" _msttexthash="283647">
                Con PrestaOnline usted obtiene...
                <ngx-typed-js [strings]="['prestamos inmediatos.', 'abonos seguros.', 'crecimiento en su negocio.']"
                    [loop]="true" [typeSpeed]="50">
                    <span class="typing"></span>
                </ngx-typed-js>
            </h1>
        </div>
    </div>
</section>

<div class="container mb-5 text-white">
    <div class="row mb-5 mb-md-0">
        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="card card-sm h-100">
                <div class="p-2">
                    <img class="card-img" src="../../../assets/img/cards/img1.jpg" alt="Image Description">
                </div>

                <div class="card-body">
                    <h4 class="card-title">Comuniquese con nuestros promotores</h4>
                    <p class="card-text">Con ellos podra enterarse sobre nosotros y tambien de nuestros servicios.</p>

                    <!-- List Pointer -->
                    <ul class="list-pointer mb-0">
                        <li class="list-pointer-item">Información necesaria</li>
                        <li class="list-pointer-item">Porcentaje de intereses</li>
                        <li class="list-pointer-item">Contacto con el supervisor</li>
                    </ul>
                    <!-- End List Pointer -->
                </div>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="card card-sm h-100">
                <div class="p-2">
                    <img class="card-img" src="../../../assets/img/cards/img2.jpg" alt="Image Description">
                </div>

                <div class="card-body">
                    <h4 class="card-title">Proporciona tu información</h4>
                    <p class="card-text">Descuida, tu información esta segura con nosotros.</p>

                    <!-- List Pointer -->
                    <ul class="list-pointer mb-0">
                        <li class="list-pointer-item">Tu información personal</li>
                        <li class="list-pointer-item">Descripción de tu negocio</li>
                    </ul>
                    <!-- End List Pointer -->
                </div>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-4">
            <!-- Card -->
            <div class="card card-sm h-100">
                <div class="p-2">
                    <img class="card-img" src="../../../assets/img/cards/img3.jpg" alt="Image Description">
                </div>

                <div class="card-body">
                    <h4 class="card-title">¿Ya eres parte de nosotros?</h4>
                    <p class="card-text">Si es asi, ya seas cliente o personal de la empresa, podrás iniciar sesión</p>

                    <!-- List Pointer -->
                    <ul class="list-pointer mb-0">
                        <li class="list-pointer-item">Introduzca su correo</li>
                        <li class="list-pointer-item">Introduzca su contraseña</li>
                        <li class="list-pointer-item">¡Listo..!</li>
                    </ul>
                    <!-- End List Pointer -->
                </div>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->
    </div>
</div>

<app-footer></app-footer>