a, button, p, h1, h2, h3, h4, h5, h6, input, select, textarea, li, label, th, td{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.dataTables_info, .swal2-html-container{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.btn.btn-primary {
    background-color: #F28D91;
    border-color: #F28D91;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
